<!doctype html>
<title>Example</title>
<style>
* {
  box-sizing: border-box; 
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
#main {
  display: flex;
  flex: 1;
}
#main > article {
  flex: 1;
}
#main > nav, 
#main > aside {
  flex: 0 0 20vw;
  background: beige;
}
#main > nav {
  order: -1;
}
header, footer {
  background: yellowgreen;
  height: 20vh;
}
header, footer, article, nav, aside {
  padding: 1em;
}
</style>
<body>
  <header>Header</header>
  <div id="main">
    <article>
      {% for product in products %}
        <div>{{ product.name }}</div>
        <div>{{ product.description }}</div>
        <div>{{ product.vendor }}</div>
        <div>{{ product.price }}</div>
        <div>{{ product.category.name }}</div>
        <div><img src='{{ product.img.url }}' style='width: 100px; height: 100px;'></div>
        <hr>
      {% endfor %}

    </article>
    <nav>Nav</nav>
    <aside>Aside</aside>
  </div>
  <footer>Footer</footer>
</body>